form, p {
    margin: 0 auto;
    padding: 0;
    width: 300px;
    text-align: center;
}

h1{
    text-align: center;
}

input, label{
    cursor: pointer;
}

input:hover, label:hover{
    color: #FF0000;
}

p{
    margin-top: 10px;
}

div{
    margin: 5px 0;
}

#piechart{
    margin: 0 auto;
}
