p, a, span {
  font-family: Arial, Helvetica, sans-serif;
}

p, a {
  color: #fff;
}

a, input {
  outline: none;
}

a {
  transition: all 0.2s linear;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #1abc9c;
}

h2 {
  color: #fff;
  font-size: 22px;
  margin: 68px 0 60px 0;
}

.hidden {
  display: none;
}

.phone-form {
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #fff;
  z-index: 10;
  text-align: center;
  border: 2px solid #2c3e50;
}
.phone-form input {
  border-radius: 4px;
  border: 1px solid #1abc9c;
  padding: 5px;
  margin: 10px;
  width: calc(100% - 30px);
  background: none;
}
.phone-form input[type="submit"] {
  cursor: pointer;
}

.phone-form-close {
  font-size: 30px;
  position: absolute;
  top: -15px;
  right: -15px;
  background: #fff;
  border-radius: 50%;
  color: red;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.phone-form-close:hover {
  color: #2c3e50;
}

.bg-color-first {
  background: #fff;
}

.bg-color-second {
  background: #1abc9c;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.flex-grid {
  display: flex;
  align-items: center;
}

.half-size {
  width: 50%;
}

.custom-size {
  width: calc(100%/3);
}

.logo {
  color: #1abc9c;
  padding: 0 0 7px 0;
}
.logo h1 {
  font-size: 67px;
  margin: 0 0 0 17px;
}
.logo:first-letter {
  color: #2c3e50;
}

nav {
  text-transform: uppercase;
  justify-content: flex-end;
  margin: 4px 0px 0 0;
}
nav a {
  color: #2c3e50;
  font-size: 16px;
  transition: all 0.2s linear;
  margin: 0 63px 0 0;
}
nav a:last-child {
  margin: 0;
}

.phone-app {
  padding: 60px 0;
}
.phone-app .flex-grid {
  align-items: end;
}

.phone-block-form {
  background: url(../images/iphone.png) no-repeat;
  background-size: cover;
  width: 205px;
  height: 437px;
  position: relative;
  margin: 0 0px 0 184px;
}

.phone-block-form-way {
  position: relative;
  text-align: center;
  top: 64px;
  font-size: 0;
  background: linear-gradient(45deg, #013560 0%, #86a6ee 34%, #86a6ee 57%, #013560 100%);
  margin: 0 13px 0 17px;
  height: 312px;
}
.phone-block-form-way span {
  display: block;
}
.phone-block-form-way p {
  margin-top: 26px;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 4px;
}
.phone-block-form-way i {
  color: #3e9b50;
  font-size: 12px;
}

.phone-block-form-way-head {
  font-size: 18px;
  padding: 8px 0;
  color: #fff;
  background: linear-gradient(to right, #4d8ba5 0%, #4c5f70 100%);
  font-style: italic;
}

.phone-block-form-way-item {
  font-size: 6px;
  padding: 6px 0;
  border: 1px solid #1abc9c;
  border-radius: 4px;
  background: #fff;
  color: #2c3e50;
  margin: 0 auto 0px;
  width: 112px;
}

.phone-block-form-way-submit {
  background: #5ac0de;
  color: #fff;
  padding: 3px 2px;
  border: 1px solid #4cb9d9;
  border-radius: 5px;
  font-size: 8px;
  margin-top: 2px;
  margin-bottom: 35px;
  cursor: pointer;
  width: 70px;
  transition: all 0.2s linear;
}
.phone-block-form-way-submit:hover {
  color: #2c3e50;
}

.phone-text h2 {
  margin: 64px 0 49px 8px;
  font-size: 35px;
  letter-spacing: 1px;
}
.phone-text p {
  font-size: 19px;
  margin-bottom: 44px;
  margin-left: 10px;
}
.phone-text a {
  border: 2px solid #fff;
  border-radius: 6px;
  font-size: 23px;
  padding: 11px 17px;
  font-weight: bold;
  display: inline-block;
  margin: 11px 0 0 10px;
}
.phone-text a:hover {
  border-color: #2c3e50;
  color: #2c3e50;
}

.about {
  text-align: center;
}
.about .custom-size {
  padding: 60px 0;
  margin: 0 1px;
}
.about span {
  display: block;
  font-weight: bold;
  font-size: 18px;
  margin-left: 19px;
}
.about p, .about span {
  color: #2c3e50;
}
.about p {
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 22px;
  line-height: 19px;
}
.about i {
  background: #1abc9c;
  font-size: 38px;
  margin-left: 29px;
  color: #fff;
  border-radius: 50%;
  margin-bottom: 15px;
  height: 85px;
  width: 85px;
  position: relative;
}
.about i:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.contact {
  padding: 36px;
  text-align: center;
}
.contact h2 {
  margin-top: 0;
  font-size: 34px;
  margin-bottom: 42px;
}
.contact input, .contact textarea {
  display: block;
  width: 600px;
  font-size: 12px;
  padding: 10px;
  margin: 0 auto 10px;
}
.contact input:last-child, .contact textarea:last-child {
  margin-bottom: 0;
}
.contact input::placeholder, .contact textarea::placeholder {
  color: #a9a9a9;
}
.contact textarea {
  resize: none;
}
.contact button {
  font-size: 16px;
  padding: 10px 60px;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.contact button:hover {
  border-color: #2c3e50;
  color: #2c3e50;
}

.input-form h2 {
  margin: 20px 0 5px 0;
}

.checkbox-block, .radio-block {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}
.checkbox-block input, .radio-block input {
  width: auto;
  flex: 1 0 20%;
}
.checkbox-block label, .radio-block label {
  flex: 1 0 80%;
  text-align: left;
}
.checkbox-block h2, .radio-block h2 {
  flex: 1 0 100%;
}

.input-box {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.input-box label {
  font-size: 22px;
  flex: 1 0 20%;
  color: #fff;
}
.input-box input {
  margin: 0;
  flex: 1 0 80%;
  box-sizing: border-box;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .half-size, .custom-size {
    width: 100%;
  }

  .flex-grid {
    flex-direction: column;
    text-align: center;
  }

  .logo h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }

  nav a {
    margin: 0 0 10px 0;
    font-size: 20px;
  }

  .phone-block-form {
    width: 280px;
    height: 585px;
  }

  .phone-block-form-way {
    margin: 0 21px 0 23px;
    top: 86px;
  }
  .phone-block-form-way p {
    font-size: 18px;
  }

  .phone-form-head {
    font-size: 30px;
  }

  .phone-block-form-way-item {
    font-size: 15px;
  }

  .phone-block-form-way-submit {
    font-size: 18px;
    margin-bottom: 103px;
  }

  h2 {
    font-size: 32px;
  }

  .phone-text p {
    font-size: 22px;
  }
  .phone-text a {
    font-size: 26px;
  }

  .about span {
    font-size: 22px;
  }
  .about p {
    font-size: 20px;
  }
  .about .custom-size {
    padding: 20px 0;
  }

  .contact {
    padding: 60px 0;
  }
  .contact input, .contact textarea {
    font-size: 18px;
    width: calc(100% - 20px);
    margin: 0 0 10px 0;
  }
  .contact button {
    font-size: 22px;
  }
}

/*# sourceMappingURL=styles.css.map */
