.wrapper {
    margin: 0 auto 20px;
    width: 600px;
    text-align: center;
}
.wrapper input, .wrapper button, .wrapper textarea {
    display: block;
    font-size: 20px;
    outline: none;
    width: 300px;
    margin: 0 auto 20px;
}
.wrapper p {
    font-size: 26px;
}
#steps-answer {
    text-align: left;
}
.chess-box-wrap {
    min-width: 300px;
    min-height: 300px;
}
.white {
    display: inline-block;
    vertical-align: middle;
    background: #f9b7b7;
}
.black {
    display: inline-block;
    vertical-align: middle;
    background: #000;
}