form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

label, input, span {
    text-align: center;
    flex: 1 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    margin: 5px 0;
}

input{
    border: 2px solid #000;
    outline: none;
}

.fail{
    border-color: #c12e2a;
}

.done{
    border-color: #1b6d85;
}