section, form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
}

textarea, button, input {
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}

textarea{
    resize: none;
}

#refurbishedText{

}