body {
    background: silver;
    font: 14px 'trebuchet ms', arial, sans-serif;
}

main {
    height: 100vh;
    background: url('../images/background.jpg') no-repeat;
    background-size: cover;
    position: relative;
}

#footer {
    background: #12407f;
    color: #fff;
    padding: 20px;
    border-top: 4px solid #436fac;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.draggable-block {
    width: 200px;
    padding: 10px;
    background: #00aabb;
    border-radius: 5px;
    cursor: move;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
    margin-bottom: 23px;
    box-sizing: border-box;
}

.draggable-block p {
    word-break: break-word;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    min-height: 16px;
    text-align: center;
}

.draggable-block:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 41%;
    width: 0;
    height: 0;
    border: 23px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    border-left: 0;
    margin-left: -19.5px;
    margin-bottom: -23px;
}

.draggable-block input {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: none;
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    animation: fadeOut .5s forwards;
}

.ui-draggable-dragging {
    z-index: 2;
}

.active input {
    animation: fadeIn .5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.errorMessage{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 32px;
    word-wrap: break-word;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #ff1616;
}