=font-face($family, $path)
  @font-face
    font-family: $family
    src: url('#{$path}.eot')
    src: url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype')

+font-face("BlackJack-Regular", "../fonts/BlackJack/BlackJack-Regular")
+font-face("KaushanScript-Regular", "../fonts/KaushanScript/KaushanScript-Regular")
+font-face("ProximaNova-BoldIt", "../fonts/ProximaNova/ProximaNova-BoldIt")
+font-face("ProximaNova-Light", "../fonts/ProximaNova/ProximaNova-Light")
+font-face("ProximaNova-Regular", "../fonts/ProximaNova/ProximaNova-Regular")
+font-face("ProximaNova-RegularIt", "../fonts/ProximaNova/ProximaNova-RegularIt")
+font-face("ProximaNova-SemiboldIt", "../fonts/ProximaNova/ProximaNova-SemiboldIt")